.column {
    background: var(--COLOR-GRAY-DARK);
    min-height: 20rem;
    color: #fff;
    width: 33%;
    max-width: 20rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    padding: 0.5rem;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleWrapper button {
    all: unset;
    color: black;
    background: white;
    padding: 0.5rem;
    border-radius: 4px;
    height: fit-content;
    cursor: pointer;
}

.titleWrapper button:hover {
    background: var(--COLOR-GRAY-LIGHT);
}